# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# CDK
cdk.out/
.cdk.staging/

# pytest
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Node / UI
node_modules/
dist/
*.local
